/**
*@layout.css
*@CSS Document for Connect60Plus Website @ MAG
*@author Wolfley
**/

html, body { 
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  font-size: 100%; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  overflow: hidden;
}

#borderContainer { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  border: 0;
}

#mapContainer {
  width: 100%; 
  height: 100%;  
  padding: 0; 
  margin: 0; 
  border: 0; 
  overflow: hidden;
}

#map-canvas { 
  width: 100%; 
  height: 100%;
  padding: 0; 
  margin: 0; 
  border: 0; 
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/*
-----------------------------------------------------------
*/
hr {
  margin: 3px;
}

h2, h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  display: block;
  margin-top: 1em;
}

/*-----------------------------------------------------------*/
#navbar-main {
  position: absolute;
  height: 45px;
  width: 100%;
  border: 0px;
  padding: 0;
  background-color: #1B1B1B;
  color: #888888;
}

.navbar {
  background-color: #1B1B1B;
  color: #888888;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #E8E8E8 ;
  text-decoration: none;
}

.nav {
  display: block;
  float: left;
  padding: 14.5px 20px 14.5px;
  font-size: 14px;
  font-weight: normal;
  color: #E8E8E8;
  text-decoration: none;
  cursor: pointer;
}


/*-----------------------------------------------------------*/
#side-container, #side-container li {
  float: left;
}

#side-container {
  position: absolute;
  top: 35px;
  height: 91%;
  border: 1px solid #bbbbbb;
  padding: 3px;
  width: 368px;
}
#side-container ul {
  list-style-type: none;
  font-size: .95em;
  margin: 0;
  padding: 0;
}
#side-container li input {
  font-size: 0.95em;
  width: 300px;
}
#side-container .dir-label {
  font-weight: bold;
  padding: 3px;
  width: 40px;
}

#dir-container {
  position: inherit;
  top: 100px;
  height: 79%;
  overflow: auto;
  padding: 3px;
  font-size: 1em;
}
#dir-container table {
  font-size: .85em;
  width: 100%;
}

/**************************************************/
#poi {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 240px;
}

#poi p {
  margin: 0;
  font-style: italic;
  color: #707070;
}

#legend {
  position: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 92%;
  padding: 2px;
}

.legend ul {
  list-style-type: none;
  padding: 0 0 0 0;
  margin-left: 0;
  margin-top: 0;
}

.legend ul li {
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.legend ul li ul{
  padding: 0 0 0 0;
}

.legend ul ul li{
  font-weight: normal;
  padding: 0 0 0 12px;
}

.legend ul ul li img {
  vertical-align: middle;
}

#directions {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 75%;
  width: 375px;
}

#directions p {
  position: absolute;
  margin: 3px;
  padding: 0 0 0 15px;
  font-style: italic;
  color: #707070;
}

#findAddress {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 60px;
  width: 445px;
}

#findAddress p {
  position: absolute;
  top: 3px;
  margin: 5px;
  font-style: italic;
  font-size: .95em;
  color: #707070;
}

#addPanel {
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 5;
    width: 432px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #999;
}

#address {
  width: 350px;
}

#info {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 5px;
  padding-top: 10px;
  padding-right: 20px;
  left: 20px;
  width: 475px;
}

#info ul {
  padding-left: 15px;
}

.legal {
  font-size: 11px;
}

.link {
  font-style: oblique;
  text-decoration: underline;
  color: #463de0;
  cursor: pointer;
}

.content {
  height: 75%;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: .85em;
  border: solid grey 1px;
  z-index: 1;
}

#magLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 187.5px;
  height: 29.25px;
}
/* Close icon 
======================================*/
.x {
  width: 23px;
  height: 23px;
}

#close1 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 237px;
}

#close2 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 442px;
  z-index: 6;
}

#close3 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 373px;
  z-index: 6;
}

#close4 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 467px;
  z-index: 6;
}

@media print {
  body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
  img{ max-width:500px;}
  #map-canvas { padding: 0; margin: 0; border: 0; height: 300px; width: 300px;}
  #dir-container { height: 200px; width: 300px;}
}

.printButton {
  -moz-box-shadow:inset 0 0 0 0 #fff7ff;
  -webkit-box-shadow:inset 0 0 0 0 #fff7ff;
  box-shadow:inset 0 0 0 0 #fff7ff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #cfc9cf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #cfc9cf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#cfc9cf');
  background-color:#ededed;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #828282;
  display:inline-block;
  color:#0d090d;
  font-family:arial;
  font-size:12px;
  font-weight:normal;
  padding:2px 7px;
  text-decoration:none;
  position: absolute;
  top: 80px;
  left: 175px;

}.printButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cfc9cf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #cfc9cf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfc9cf', endColorstr='#ededed');
  background-color:#cfc9cf;
}.printButton:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


